<h2>Search an Artist</h2>

<% render 'form', band: @band, action: :new%>

<%= render 'form', action: :new, book: @book %>

<img src="https://lh3.googleusercontent.com/proxy/WZjat2wRFYOD3fs3lXdnxvBGG93-VTFArKPxwbRbXdOdVq07xpvdz0IU8E037Ppq60Eb6yLsnDJZWwDNw_1si7ftelanQw8kJ8M-GICXtsiPmqb42uzbvUYQdzEYHG0-uhlRD4DqejzmTJwKE94">