


<h1>Edit Poem Form</h1>

<form action="<%=poem_url(@poem)%>" method="POST">
<input type="hidden" name="_method" value="PATCH">
<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

<label for="title">Title
    <input type="text" name="poem[title]" value="<%= @poem.title %>">
</label>

<label for="stanzas">Stanzas
    <input type="text" name="poem[stanzas]" value="<%= @poem.stanzas %>">
</label>

<button>Save Edited Poem</button>

</form>