<h2>Add a life goal</h2>

<% render 'form', goal: @goal, action: :new%>

<%= render 'form', action: :new, goal: @goal %>

<img src="https://www.jennygarrett.global/storage/2020/01/shutterstock_731159185-1.jpg">